#listagem-page div#main-content {
    display: flex;
    
    width: 100%;
}

#listagem-page div#main-content > .card {
    width: 23%;
    margin: .5rem;
    border-radius: 20px 20px 0 0;
}


#listagem-page div#main-content h4 {
    text-align: center;
    width: 100%;
}

#listagem-page div#main-content span.material-icons {
    margin-top: 1rem;
}

#listagem-page header {
    height: 20rem;
    width: 100%;
    margin-bottom: 2rem;
}


#listagem-page header #presentation {
    padding: 2rem;
}

#listagem-page header h1 {
    font-size: 50px;
    font-weight: bolder;
}

#listagem-page header #presentation-img {
    height: 20rem;
    object-fit: contain;
}

#listagem-page header div img {
    height: 100%;
    width: 100%;
    object-position: 50% 70%;
    object-fit: cover;
    border-radius: 70px 0 0 0;
}

#listagem-page #no-users {
    margin: auto;
    text-align: center;
}

#listagem-page #no-users span {
    font-size: 2.6rem;
    
}